{% extends 'base.html' %}
{%  load humanize %}
{% block title %} | Browse property listings {% endblock %}
{% block content %}
{%load static%}
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<!-- Body content -->

<div class="header-connect">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-8  col-xs-12">
              <div class="header-half header-call">
                  <p>
                      <a href="https://api.whatsapp.com/send?phone=+3412557997&text=Hola!%20Me%20Podras%20ayudar%20a%20encontrar%20mi%20proxima%20vivienda?" target="_blank"><span><i class="fa fa-whatsapp"></i> +3415995545</span></a>
                      <a href="mailto:ingenia@ingenia.com"><span><i class="pe-7s-mail"></i> ingenia@ingenia.com</span></a>
                  </p>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
              <div class="header-half header-social">
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>        
<!--End top header -->

<nav class="navbar navbar-default ">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div>
          <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'img/Logo-Ingenia-PNG-COLOR-AZUL-1.png' %}" alt="">Soluciones Inmobiliarias</a>
      
    
      </div>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse yamm" id="navigation">
          <div class="button navbar-right">
              <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('register.html')" data-wow-delay="0.45s">Login</button>
              <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('submit-property.html')" data-wow-delay="0.48s">Registro</button>
          </div>
          <ul class="main-nav nav navbar-nav navbar-right">
              <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url 'index'%}">Home</a></li>
              <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="{% url 'listings'%}">Propiedades</a></li>
              <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="{% url 'about'%}">Nosotros</a></li>
              
              <li class="wow fadeInDown" data-wow-delay="0.4s"><a class="" href="#faq">Preguntas??</a></li>

              <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{% url 'contact2'%}">Contacto</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->
  
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Descubre las propiedades{{ name }} </h1>
          <p class="lead">Selecciona la propiedad que te guste, mira todas las caracteristicas y contactate con el vendedor a cargo</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">{{ listing.price | intcomma }}</span>
                    </h2>
                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{ listing.title }}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i>{{ listing.adrress }}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-th-large"></i>M2 :{{ listing.sqft }}</div>
                      <div class="col-6">
                        <i class="fas fa-car"></i> Garage : {{ listing.garage }}</div>
                    </div>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-bed"></i> Habitaciones: {{ listing.bedrooms }}</div>
                      <div class="col-6">
                        <i class="fas fa-bath"></i> Baños: {{ listing.bathrooms }}</div>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-12">
                        <i class="fas fa-user"></i> {{listing.realtor}} </div>
                    </div>
                    <div class="row text-secondary pb-2">
                      <div class="col-6">
                        <i class="fas fa-clock"></i> {{ listing.list_date | timesince}}</div>
                    </div>
                    <hr>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Detalles</a>
                  </div>
                </div>
              </div>
          {% endfor %}

        {% else %}
          <p class="">
          No listings found</p>
        {% endif %}
        <!-- Listing 1 -->
        

        

        <!-- Listing 6 -->
        


      <div class="row">
        <div class="col-md-12">
        {% if listings.has_other_pages %}
            {% if page_obj.has_previous %}
              <li class="page-item"></li>
            <a href="?page={{ listings.previous_page_number }}">&laquo;</a>
            {% else %}
              <li class="page-item disabled">
                <a href="" class="page-line">&laquo;</a>
              </li>
        {% endif %}
        {% for i in listings.paginator.page_range %}
          {% if listings.number == i %}
            <li class="page-item active">
              <a class="page-line">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-line">{{i}}</a>
            </li>
          {% endif %}

        {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"></li>
            <a href="?page={{ listings.next_page_number }}">&raquo;</a>
            {% else %}
              <li class="page-item disabled">
                <a href="" class="page-line">&raquo;</a>
              </li>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area-->
  <div class="footer-area">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>About us </h4>
                        <div class="footer-title-line"></div>

                        <img src="{% static 'img/Logo-Ingenia-PNG-COLOR-AZUL-1.png' %}" alt="" class="wow pulse" data-wow-delay="1s">
                        <p>Nos encontras aqui</p>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-map-marker strong"> </i> san luis 3233</li>
                            <li><i class="pe-7s-mail strong"> </i> test@test.com</li>
                            <li><i class="pe-7s-call strong"> </i> +3412557997</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Quick links </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="{% url 'index'%}">Home</a>  </li> 
                            <li><a href="{% url 'listings'%}">Propiedades </a></li> 
                            <li><a href="{% url 'contact2'%}">Contacto</a></li> 
                            <li><a href="#faq">faq</a>  </li> 
                            <li><a href="#">Login </a>  </li> 
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Noticias</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-blog">
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{%static 'rs/assets/img/demo/small-proerty-2.jpg'%}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Vendedores </a></h6> 
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                </div>
                            </li> 

                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{%static 'rs/assets/img/demo/small-proerty-2.jpg'%}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Novedades </a></h6> 
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                </div>
                            </li> 

                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{%static 'rs/assets/img/demo/small-proerty-2.jpg'%}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Servicios </a></h6> 
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                </div>
                            </li> 


                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Matenete en contacto</h4>
                        <div class="footer-title-line"></div>
                        <p>Suscribite a nuestro boletin y recibi las actualizaciones de las nuevas propiedaes agredas a nuestro sistema</p>

                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form> 

                        <div class="social pull-right"> 
                            <ul>
                                <li><a class="wow fadeInUp animated" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
               
                <div class="bottom-menu pull-right"> 
                    <ul> 
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Propiedades</a></li>
                        <li><a class="wow fadeInUp animated" href="#faq" data-wow-delay="0.4s">Faq</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contacto</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}